.clear {
    clear:both;
    height:0;
    font-size: 0px;
    line-height: 0px;
}

ul.yiiPager .first, ul.yiiPager .last {
    display: inline;
}

.lineelement {
    display: inline;
    float: left;
}

div.product-info {
    margin-left: 10px;
    width: 670px;
}
.pager .previous a {
    float: none;
}
    
.product-list tr td {
    vertical-align: middle;
}
    
#firm span.firm-block label {
    display: inline;
    margin-right: 5px;
}

#firm span.firm-block {
    margin-right: 10px;
}

span#firm {
    margin: 0 50px 0 3px;
}