.clear {
    clear:both;
    height:0;
    font-size: 0px;
    line-height: 0px;
}


body {
    background-image: url('../i/header_bg.gif');
    background-repeat: repeat-x;
}

.container {
    width: 1000px;
}


#main-menu.ul, #footer-menu.ul {
    display: inline;
}

ul#footer-menu {
    width: 340px;
    margin: 10px auto;
}

#main-menu li {
    float: left;
    list-style: none;
    text-align: center;
    background-image: url('../i/menu_item_bg.png');
    padding-top: 10px;
}

.footer-menu {
    text-align: center;
}

#footer-menu li {
    float: left;
    list-style: none;
    margin-right: 20px;
}

#main-menu li a {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #000;
    width: 189px;
    height: 33px;
    display: block;
}

ul.yiiPager .first, ul.yiiPager .last {
    display: inline;
}

.lineelement {
    display: inline;
    float: left;
}

.lineelement.right {
    float: right;
}


div.product-info {
    margin-left: 10px;
    width: 670px;
}
.pager .previous a {
    float: none;
}

.product-list tr td {
    vertical-align: middle;
}

#firm div.firm-block label {
    display: inline;
    margin-right: 5px;
}


.product-description {
    margin: 30px 0;
}

.product-description h2 {
    text-align: center;
    margin: 15px 0;

}

.product-description img {
    margin-right: 20px;
}

.product-description div.fieldname {
    width: 160px;
}

.product-description div.field {
    margin: 0 0 15px 0;
}

.product-description div.description {
    margin-top: 10px;
}


input.items-count {
    width: 50px;
}

.left-part {
    width: 350px;
}

.right-part {
    width: 600px;
}

.logo-element {
    width: 319px;
    height: 211px;
    background-image: url('../i/logo_bg.png');
    background-position-x: -35px;
    background-repeat: no-repeat 
}
.wellcome-element {
    width: 600px;
    height: 204px;
    background-image: url('../i/wellcome_bg.png');
    background-repeat: no-repeat 
}

.wellcome-element img {
    margin: 10px;
}

.items .item {
    padding: 10px 15px;
    text-align: center;
    width:165px;
}

.items .item:hover {
    background-color: #eceff8;
}

.items .item .item-name, .items .item .item-price, .items .item a.btn {
    margin-top: 5px;
}

a.total-sum-order {
    margin-top: 5px;
}